<!-- 

{"students":[{"name":"Tarmo Tamm","weightedAvgGrade":3.789473684210526},{"name":"Mari Maasikas","weightedAvgGrade":3.857142857142857}]}
 -->
﻿
<div class="flip-container text-center col-md-12"
	ng-controller="AvgGradeCtrl">

	<div class="alert alert-warning" role="alert" ng-show="!!appData.msg">
		<strong>Viga!</strong> <span ng-bind="appData.msg"></span>
	</div>

	<div class="col-md-6 col-md-offset-3" ng-show="!!appData.result">
		<table class="table table-bordered table-extracted-data">
			<thead>
				<tr>
					<th colspan="2" class="text-center">Students list</th>
				</tr>
				<tr>
					<th class="text-center">Name</th>
					<th class="text-center">Weighted average grade</th>
				</tr>
			</thead>
			
			
			    <tbody ng-repeat="student in appData.result.students">
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.weightedAvgGrade | number:2}}</td>
        </tr>
    </tbody>
    
		</table>
	</div>
	<div class="jumbotron col-md-6 col-md-offset-3 invoice-upload-section">
		<h4>Service finds weighted average grade for students</h4>
		<br />
		<p>
			<small>XML with students data</small> &nbsp; &nbsp; &nbsp;
			<button class="btn btn-primary btn-lg" ngf-select
				ngf-change="upload($files)" role="button">Upload XML file</button>
		</p>
		<progressbar max="100" value="appData.progress"
			ng-show="!!appData.progress"> <span
			style="color: black; white-space: nowrap;">{{appData.progress}}
			/ 100 %</span> </progressbar>
		<span us-spinner="{radius:30, width:8, length: 16}"
			ng-show="appData.extractionInProgress"></span>
	</div>
</div>